@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    --primary-color: #192B86;
    --secondary-color: #70F8BA;
    --accent1-color: #87E62D;
    --accent2-color: #F76B2A;

    --heading-font: 'Rock Salt', serif;
    --paragraph-font: Roboto, serif;

    --nav-background-color: #70F8BA;
    --nav-link-color: #192B86;
    --nav-hover-link-color: #192B86;
    --nav-hover-background-color: #F76B2A;
}
body {
    font-family: var(--paragraph-font);
    max-width: none;
    padding: 20px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}
header {
    padding: 20px;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 200px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1,
.hero article {
    position: absolute;
    top: 5%;
    left: 0.5%;
}
.hero article {
    top: 30%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    width: 35%;
}
.hero article img {
    float: right;
}
.adventure {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 5px
}
.adventure img {
    width: 100%;
    height: auto;
}
.social.links {
    display: flex;
    justify-content: right
}

form {
    width: 550px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label {
    text-align: left;
    padding-left: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input [type='checkbox'] {
    width: 100px;
    height: 100px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
background-color: aquamarine;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 4fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem 0;
}

.figure-container {
    display: flex;
}

figure {
    flex-grow: 1;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
}

figcaption {
    margin-top: 10px;
}

figure img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
}

table {
    border: 2px solid navy;
    border-collapse: collapse;
    border-spacing: 0;
}
  
th, td {
    border: 1px solid navy;
}

th {
  background-color: orange;
}

td {
    background-color: aquamarine;
}

.container {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
}

.content {
    padding: 20px;
}

.content h2 {
    margin-top: 0;
}

.content p {
    margin-bottom: 0;
}
